a:link{
  text-decoration:none;}

.b{
  border:20px solid #440066;
  width:250px;
  height:650px;
  padding:40px;
  margin-right:auto;
  margin-left:auto;
  }

.cities {
  background-color: tomato;
  color: white;
  margin: 20px;
  padding: 20px;
}

table,
th,
td {
  border: 4px solid black;
  border-collapse: collapse;
  padding: 2px;
}

.align {
position: center
  text-align: center;
  color: RoyalBlue;
}

.cells {
  background-color: powderblue;
  padding: 2px;
  text-align: Center;
}

body {
  background-color: powderblue;
}

.player-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #e7e7e7;
  color: black;
  font-weight:bold;
}

.buttons {
border: rgb(6, 6, 12);
margin-left: auto;
margin-right: auto;
width: 50px;
height: 50px;
border-style: solid;
align-items: center;
font-size: 30px;
font-weight: bolder;
}

.buttons-color-blue{
  background-color: #0d0d74;
}

.buttons-color-red{
  background-color: red;
}

.td {
  border-style: ridge;
  height: 40px;
  width: 70px;
}