<!DOCTYPE html>
<html>

  <style>

table, th, td {
  border: 4px solid black;
  border-collapse: collapse;
  padding: 20px;
}
.align {
  text-align: Center;
  color: RoyalBlue;
}

.cells {
  background-color: powderblue;
  padding: 20px;
  align: Center;
  }

body {background-color: powderblue;}
}

</style>
  <title>tic tac toe</title>
<body>


<div class="align" >
  <h1><u>TicTacToe</u></h1>
  <button>X</button>
  <button>O</button>
  <h2>Turns:</h2>
</div>


<div class="cells">
 <table align="Center">
   <tr>
     <td></td>
     <td></td>
     <td></td>
   </tr>

   <tr>
     <td></td>
     <td></td>
     <td></td>
   </tr>

   <tr>
     <td></td>
     <td></td>
     <td></td>
   </tr>

 </table>

</div> 
<div class="align">
<a href="https://github.com/Raphael409/Tic-tac-toe-game/issues/4">Click to view history</a>
<button>Exit</button>
</div>
</body>

</html>