{% extends "layout.html" %}
{% block title%}
    Home page
{% endblock%}
{% block content %}
    <body class="b">


  <div class="align">
    <h1><u>TicTacToe</u></h1>
    <button class="player-button">X</button>
    <button class="player-button">O</button>
    <div class="block">
      <h2 class="score">Turn:</h2>
      <h2 id="turns" class="turns" class="score">X's First move</h2>
    </div>

  </div>


  <div class="cells">
    <table style="margin-left: auto;margin-right: auto;">
      <tr>
        <td>
          <button id="btn1" class="buttons" onclick="updateButtons('btn1')"></button>
        </td>
        <td>
          <button id="btn2" class="buttons" onclick="updateButtons('btn2')"></button>
        </td>
        <td>
          <button id="btn3" class="buttons" onclick="updateButtons('btn3')"></button>
        </td>
      </tr>
      <tr>
        <td>
          <button id="btn4" class="buttons" onclick="updateButtons('btn4')"></button>
        </td>
        <td>
          <button id="btn5" class="buttons" onclick="updateButtons('btn5')"></button>
        </td>
        <td>
          <button id="btn6" class="buttons" onclick="updateButtons('btn6')"></button>
        </td>
      </tr>
      <tr>
        <td>
          <button id="btn7" class="buttons" onclick="updateButtons('btn7')"></button>
        </td>
        <td>
          <button id="btn8" class="buttons" onclick="updateButtons('btn8')"></button>
        </td>
        <td>
          <button id="btn9" class="buttons" onclick="updateButtons('btn9')"></button>
        </td>
      </tr>
    </table>
  </div>
  <div class="block">
    <h4 class="score">X-Score:</h4>
    <div class="tds">
      <h4 class="score">0</h4>
    </div>

  </div>
  <div class="block">
    <h4 class="score">O-Score:</h4>
    <div class="tds">
      <div class="score">
        <h4>0</h4>
      </div>
    </div>

  </div>

  <div class="align">
    <a href="https://github.com/Raphael409/Tic-tac-toe-game/issues/4" target="_blank">Click to view history</a>
  </div>
  <div class="bt">
    <button class="bt" onclick="startGame()">Restart</button>
    <button class="bt">Exit Game</button>
  </div>
  <p id="demo"></p>
  <script src="js/script.js"></script>
{% endblock content %}

